@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 4.8% 10.5%;
    --card-foreground: 0 0% 98%;
    --card-alt: 240 10% 3.9%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.8rem;
    --sidebar-background: 240 4.8% 10.5%;
    --sidebar-foreground: 240 5% 64.9%;
    --sidebar-primary: 262.1 83.3% 57.8%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 3.7% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 262.1 83.3% 57.8%;
    --chart-1: 262.1 83.3% 57.8%;
    --chart-2: 180 80% 40%;
    --chart-3: 350 85% 60%;
    --chart-4: 40 90% 60%;
    --chart-5: 280 85% 65%;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 33 37% 85%;
    --card: 208 16% 15%;
    --card-foreground: 33 37% 85%;
    --card-alt: 220 13% 10%;
    --popover: 208 16% 15%;
    --popover-foreground: 33 37% 85%;
    --primary: 347 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 16% 25%;
    --secondary-foreground: 33 37% 85%;
    --muted: 208 16% 25%;
    --muted-foreground: 208 10% 55%;
    --accent: 208 16% 30%;
    --accent-foreground: 33 37% 85%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 16% 25%;
    --input: 208 16% 25%;
    --ring: 347 100% 64%;
    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 208 10% 55%;
    --sidebar-primary: 347 100% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 208 16% 30%;
    --sidebar-accent-foreground: 33 37% 85%;
    --sidebar-border: 208 16% 25%;
    --sidebar-ring: 347 100% 64%;
    --chart-1: 347 100% 64%;
    --chart-2: 180 80% 40%;
    --chart-3: 350 85% 60%;
    --chart-4: 40 90% 60%;
    --chart-5: 280 85% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
