@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --card-alt: 240 5% 96.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 347 90% 55%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 215.4 16.3% 46.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 347 90% 55%;
    --radius: 0.8rem;

    --sidebar-background: 220 13% 95%;
    --sidebar-foreground: 220 9% 46%;
    --sidebar-primary: 347 90% 55%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 220 14% 90%;
    --sidebar-accent-foreground: 220 14% 11%;
    --sidebar-border: 220 13% 90%;
    --sidebar-ring: 347 90% 55%;

    --chart-1: 347 100% 64%;
    --chart-2: 180 80% 40%;
    --chart-3: 350 85% 60%;
    --chart-4: 40 90% 60%;
    --chart-5: 280 85% 65%;
  }

  .dark {
    --background: 220 13% 10%;
    --foreground: 33 37% 85%;
    --card: 208 16% 15%;
    --card-foreground: 33 37% 85%;
    --card-alt: 220 13% 10%;
    --popover: 208 16% 15%;
    --popover-foreground: 33 37% 85%;
    --primary: 347 100% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 16% 25%;
    --secondary-foreground: 33 37% 85%;
    --muted: 208 16% 25%;
    --muted-foreground: 208 10% 55%;
    --accent: 208 16% 30%;
    --accent-foreground: 33 37% 85%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 208 16% 25%;
    --input: 208 16% 25%;
    --ring: 347 100% 64%;
    --radius: 0.8rem;
    
    --sidebar-background: 220 13% 10%;
    --sidebar-foreground: 208 10% 55%;
    --sidebar-primary: 347 100% 64%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 208 16% 30%;
    --sidebar-accent-foreground: 33 37% 85%;
    --sidebar-border: 208 16% 25%;
    --sidebar-ring: 347 100% 64%;

    --chart-1: 347 100% 64%;
    --chart-2: 180 80% 40%;
    --chart-3: 350 85% 60%;
    --chart-4: 40 90% 60%;
    --chart-5: 280 85% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
